page-home {
    //  ion-footer button {
    //    margin: 0 !important;
    //  }
      .pied{
          background-color: green;
          width: 100% !important;
          font-size: 0.9em;
      }
    }